In [ ]:

## Q.1 . Write a Python program to print 'Hello, World!'.

In [ ]:
print('Hello , World!') # here we are directly printing using print method

Hello , World!

In [ ]:
x="Hello , World!" # here we are variable x  to store hello world
print(x)  # printing the value stored in x

Hello , World!

In [ ]:
x # if we  have to print the values stored in any variable we also print it directly without using print

'Hello , World!'

In [ ]:
# Q.2 Write a Python program to add two numbers.

In [ ]:
a= 15      #storing numbers in variables
b=3
print ("sum is :",a+b) #adding the numbers directly in print method

sum is : 18

In [ ]:
a = 15
b =3
c =a+b # adding the numbers and storing it in a variable
c   # calling the varible to print the sum

18

In [ ]:
# Q3 Write a Python program to find the square root of a number.

a= 2
a_sqrt=a**0.5 # using exponential operator to find the square root
a_sqrt

1.4142135623730951

In [ ]:
# Q4  Write a Python program to calculate the area of a triangle.

#taking values from users

a = int(input('Enter first side: '))
b = int(input('Enter second side: '))
c = int(input('Enter third side: '))

s = (a + b + c) / 2   # calculating the semi-perimeter

area = (s*(s-a)*(s-b)*(s-c)) ** 0.5  # calculating the area
print('The area of the triangle is : ', area)

Enter first side: 5
Enter second side: 6
Enter third side: 7
The area of the triangle is :  14.696938456699069

In [ ]:
 # Q5. Write a Python program to swap two variables.

P =  43
Q =  96
print ("The Value of P before swapping: ", P)
print ("The Value of Q before swapping: ", Q)

P, Q = Q, P  # To Swap the values of two variables

print ("The Value of P after swapping: ", P)
print ("The Value of Q after swapping: ", Q)

The Value of P before swapping:  43
The Value of Q before swapping:  96
The Value of P after swapping:  96
The Value of Q after swapping:  43

In [ ]:
# Q6 Write a Python program to generate a random number.

import random #importing random library to gnerate ranom numbers
a=[]  # creating empty list to store the numbers
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(10,20))  #inserting the numbers in the empty list
print('Randomised list is: ',a)

Enter number of elements:5
Randomised list is:  [19, 12, 20, 11, 14]

In [ ]:
# Q7 Write a Python program to convert kilometers to miles.

km = float(input("Enter distance in kilometers: "))
m = km * 0.621371  # formula for converting kilometer to miles
print("Distance in miles:", m)

Enter distance in kilometers: 537
Distance in miles: 333.676227

In [ ]:
# 8. Write a Python program to check if a number is positive, negative or zero.

a= int(input(" Enter the number : "))
 # using if elif loop for checking the number
if a==0:
  print(" the given number is zero")
elif a<0:
  print(" the given number is negative")
else:
 print(" the given number is positive")

 Enter the number : -3
 the given number is negative

In [ ]:
# Q9. Write a Python program to check if a number is odd or even.

a=5
if a%2 == 0:
  print (" the number is even")
else:
  print ("the number is odd")

the number is odd

In [ ]:
# Q10. Write a Python program to check if a year is a leap year.

y =2000
if y % 400 == 0:    # if the year is divisible by 400 or 4 it is said to be a leap year and if the year is divisible by 100 then the year is not a leap year
  print( " it's a leap year")
else:
  print("it's not a leap year")

 it's a leap year

In [ ]:
# Q11. Write a Python program to find the largest of three numbers.

a=2
b=5
c=8
if a>b and a<c:
  print("The largest number amoung the three is a :",a)
elif b>a and b>c:
  print ("the largest number amoung the three is b :",b)
else:
  print ("the largest number amoung the three is c :",c)

the largest number amoung the three is c : 8

In [ ]:
# Q 12. Write a Python program to find the factorial of a number.

import math
def factorial(x):   # created a function to find the fact of the given number
  return(math.factorial(x))  # used inbuild factorial function from math library
a=5
b = factorial(a) # recalling the function
print(" factorial of ",a, "is ",b)

 factorial of  5 is  120

In [ ]:
 #Q 13. Write a Python program to display the multiplication table.

a=10
for i in range(0,11):
  print (a ,"*", i, "= ",a*i)

10 * 0 =  0
10 * 1 =  10
10 * 2 =  20
10 * 3 =  30
10 * 4 =  40
10 * 5 =  50
10 * 6 =  60
10 * 7 =  70
10 * 8 =  80
10 * 9 =  90
10 * 10 =  100

In [ ]:
# Q 14. Write a Python program to print the Fibonacci sequence.

n = int(input ("Enter the number you want to print: "))
# Take input from user that how many numbers you want to print
a = 0
b = 1
for i in range(0,n):
    print(a,"\n", end = " ")             # a:0;    a:1;       a:2
    c = a+b                     #c=0+1=1; c= 1+1=2;  c=1+2=3
    a = b               #a=1    ; a=1;       a=2
    b = c               #b=1    ; b=2;       b=3

Enter the number you want to print: 6
0
 1
 1
 2
 3
 5

In [ ]:
# Q 15. Write a Python program to check if a number is an Armstrong number.

num = int(input("Enter a number: ")) # take input from the user
sum = 0
# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum: # checking whether the number is armstrong or not
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 370
370 is an Armstrong number

In [ ]:
# Q 16. Write a Python program to find the sum of natural numbers

a =int(input("enter the number :"))
if a < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(a > 0):
       sum += a
       a -= 1
   print("The sum is", sum)

enter the number :5
The sum is 15

In [ ]:
 # Q 17. Write a Python program to find the sum of digits of a number.

def Sum(n):
	str1 = str(n) #converting the number into string
	list1 = list(map(int, str1.strip())) #converting the string into list using strip and map method
	return sum(list1)
n = 12345
print(Sum(n))

15

In [ ]:
# Q 18. Write a Python program to reverse a number.
a = 123456
print(str(a)[::-1])  #converting the number into string and then printing the number in the reverse order

654321

In [ ]:
# Q 19. Write a Python program to convert decimal to binary, octal and hexadecimal.

deci=int(input(" enther the decimal number"))
print("the binary of ",deci,"is : ",bin(deci))
print("the octal of ",deci,"is : ",oct(deci))
print("the hexadecimal of ",deci,"is : ",hex(deci))

 enther the decimal number12
the binary of  12 is :  0b1100
the octal of  12 is :  0o14
the hexadecimal of  12 is :  0xc

In [ ]:
# Q 20. Write a Python program to find HCF or GCD of two numbers.

# Using Euclidian algorithm to find hcf
def compute_hcf(x, y):
   while(y):
       x, y = y, x % y
   return x

hcf = compute_hcf(300, 400)
print("The HCF is", hcf)

The HCF is 100

In [ ]:
 # Q 21. Write a Python program to find LCM of two numbers.

def compute_lcm(x, y):
   if x > y:   # choose the greater number
       greater = x
   else:
       greater = y
   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1
   return lcm
num1 = 54
num2 = 24
print("The L.C.M. is", compute_lcm(num1, num2))

The L.C.M. is 216

In [ ]:
 # Q 22. Write a Python program to count the number of each vowel in a string

string=input("Enter string:")
vowels=0
for i in string:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
print("Number of vowels are:")
print(vowels)

Enter string:umaima
Number of vowels are:
4

In [ ]:
# Q 23. Write a Python program to remove punctuation from a string

import string
def punct(x): # Define a function to remove punctuation characters from a given string
    for i in string.punctuation:   # Iterate through each punctuation character and replace it with an empty string
        x = x.replace(i, "")
    return x
x = "hello,world!!"
print("Original text:")
print(x)
result = punct(x) # Call the function to remove punctuation characters and print the result
print("After removing Punctuations from the said string:")
print(result)

Original text:
hello,world!!
After removing Punctuations from the said string:
helloworld

In [ ]:
 # Q 24. Write a Python program to sort a list of numbers in ascending order.

 list1=[5,6,8,3,0,7,4]
 print("the given list is : ",list1)
list1.sort()  # using sort method which has default value as ascending
print("after sorting the list in ascending order : ",list1)

the given list is :  [5, 6, 8, 3, 0, 7, 4]
after sorting the list in ascending order :  [0, 3, 4, 5, 6, 7, 8]

In [ ]:
# Q 25. Write a Python program to merge two lists and sort it.

l1=[3,5,7]
l2=[6,4,9]
l3=l1+l2
print (" sum of the above 2 list is : ",l3)
l3.sort()
print(l3) # printing the sorted list

 sum of the above 2 list is :  [3, 5, 7, 6, 4, 9]
[3, 4, 5, 6, 7, 9]