In [2]:
  ###  basic python continued ###

In [3]:
#what is tuples ? Tuple is a data structure of python. tuple are always in () round brackets
#tuples are immutable.and its work with all data types.

In [4]:
work_location=('Bengluru','Kolkata','Chennai','raipur')
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur')

In [5]:
type(work_location) #check datatype

tuple

In [6]:
#Lets try to add new work location.like list method

In [8]:
work_location.append('Korba')  #It is not possible , because tuple are immutable

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
work_location=list(work_location) # to manipulate the tuuple we to convert it into list

In [10]:
work_location.append('Korba')  #now you can edit
work_location

['Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba']

In [11]:
#now back to change in tuple

In [12]:
work_location=tuple(work_location) # again converting the list into its original form

In [13]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba')

In [14]:
len(work_location)  #checking length in tuple like List.

5

In [15]:
#Similarly you can work with numbers as well

In [16]:
work_location

('Bengluru', 'Kolkata', 'Chennai', 'raipur', 'Korba')

In [17]:
work_location[1] #using  indexing just like we did in list to display na particular data

'Kolkata'

In [18]:
work_location[-2]  #slicing just like a list

'raipur'

In [19]:
#Basics Tuple Method. inbuilt methods

In [20]:
numbers=(50,60,40,90,80,70,60,50,40,70,10,20,30,7,50,50)

In [21]:
numbers.index(30) #use .index to enter a value,  and return the index

12

In [22]:
numbers.count(50) #Use .count to count the number of times a value appears

4

In [23]:
#So what is set ? set is a data structure in pyhton. sets are an unordered collection of unique element-
#-which can be constructed using set() fucntion.

In [24]:
#Sets   =   1 -  Keeps item in sorted order
#           2 - eliminate the duplicates element.

In [25]:
roll_number=set()

In [26]:
type(roll_number)  #check the type

set

In [27]:
roll_number.add(1)  #we add to set with the add methods

In [28]:
roll_number

{1}

In [29]:
#we know that set has only take unique element . lets se if we add duplicates. whats python shows.

In [30]:
#add different element

In [31]:
roll_number.add(2)

In [32]:
roll_number

{1, 2}

In [33]:
roll_number.add(1)  #Try to add the same element

In [34]:
#they did not show any error. but the also dont add ion our roll_number set.

In [35]:
roll_number

{1, 2}

In [36]:
#You have to know one thing where we use set method.
#lets i can tell you , if we have list with numbers , but in our list lots of numbers available -
#- and we have to find only unique element .
#what we can do,  we can use set method to get unique element
#lets see how its work

In [37]:
numbers=[1,2,3,4,5,6,7,8,9,1,2,3,4,56,789,12,74,74,85,96,74,85,96,4,1,52,63,52,41,56,56]

In [38]:
#cast to get unique elements from list

In [39]:
remove_duplicate=set(numbers)

In [40]:
remove_duplicate #lets see the can show only unique element .

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 41, 52, 56, 63, 74, 85, 96, 789}

In [41]:
#again you can covert to list if you want (after removing duplicates)

In [42]:
numbers1=list(remove_duplicate)

In [43]:
#Now Study about dictionary
# what is dictionary ? dictionary is also a data staructure,dictionary contain keys:value in curly {} brackets.
#dictionary will take corresponding value

In [44]:
my_dict={'key1':'value1','key2':'value2'}

In [45]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [46]:
my_dict['key1']  #call the value by their key

'value1'

In [47]:
#note that dictionary are very comfortable with all data types.

In [48]:
my_dict={'Roll Number':123,'Subjects':['Maths','science','Computer'],'Marks':[24,29,25]}

In [49]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 29, 25]}

In [50]:
my_dict['Subjects']  #Lets call items from the dictionary

['Maths', 'science', 'Computer']

In [51]:
my_dict['Subjects'][0]  #can call  an index on that value.

'Maths'

In [52]:
my_dict['Subjects'][1]

'science'

In [53]:
my_dict['Subjects'][2]

'Computer'

In [54]:
my_dict['Subjects'][2].upper() #we cal aslo capitalise the element which can present in dictionary

'COMPUTER'

In [55]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 29, 25]}

In [56]:
my_dict['Marks'][0]=my_dict['Marks'][0]+6  #add Marks to the first element

In [57]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25]}

In [58]:
#Python can multiple, addition , substraction and divide .

In [59]:
my_dict['Marks'][0]+=4  #another way of adding

In [60]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [34, 29, 25]}

In [61]:
my_dict['Marks'][0]-=4  #lets subtract

In [62]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25]}

In [63]:
#How we can add key .and values .

In [64]:
my_dict['Year']=2015

In [65]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25],
 'Year': 2015}

In [66]:
#lets note down one thing. if we have to add key and value , with the help of last used method
# we have to enter key and value , if the key name is already present in dictionary .
# they will add  the value in old keys., this reason for we have have to write new key name.

In [67]:
my_dict.update({'Roll Number':100})  #Update values()

In [68]:
my_dict

{'Roll Number': 100,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [30, 29, 25],
 'Year': 2015}

In [69]:
my_dict.items()  #Items will return both keys and corresponding values.

dict_items([('Roll Number', 100), ('Subjects', ['Maths', 'science', 'Computer']), ('Marks', [30, 29, 25]), ('Year', 2015)])

In [70]:
#Branching (if,elif,else).      what is elif ? else + if =elif
#Puthon provide the if statement to allow branching based on condition. multiple elif checks-
# - can also be peformed followed by an optional else caluse. the statment can be used with any evaluation of truthiness.

In [71]:
#In my word branching (if,elif ,else) they can provide us to check truthiness of elements

In [72]:
i =10
if i<11: # definitely you have doubt whay print is in space, is know as indentation.means four space
    print('i is smaller')
else:
    print('i is greater')

i is smaller

In [73]:
#You can write in this way (2nd way to write (if,elif,else)statement)

In [74]:
print('i is smaller')if i<11 else print('i is greater')

i is smaller

In [75]:
#free shipping message

item_1=100
item_2=300

if (item_1+item_2)>=500:
    print('Your item in eligible for free shipping')
else:
    extra=500-(item_1+item_2)
    print('please add',extra,'Rs worth for free shipping')

please add 100 Rs worth for free shipping

In [76]:
#Lets see different example with 'and' method

a=200
b=33
c=500

if a>b and c<a:
    print('Both condtion are true')
else:
    print('Both condion are wrong')

Both condion are wrong

In [77]:
#Lets see different example with 'or' method

a=200
b=33
c=500

if a>b or c<a:
    print('Atleast one of the condition are true')
else:
    print('Both condition are wrong')

Atleast one of the condition are true

In [78]:
#Lets check Student level

marks=60

if marks>=60:
    if  marks>70:
        print(marks,'distiction')
    else:
        print(marks,'First class')
elif marks>50 and marks<60:
    print(marks,'second division')
elif marks>35:
    print(marks,'Just pass')
else:
    ('marks','Fail Better luck next time')

60 First class

In [79]:
num1=20
num2=30
if num1<num2:
    print(num1,'is greater')
elif num2==31:
    print(num2,'is equal to 31')

20 is greater