In [46]:

### Basics Python continued ###

In [47]:
#lets start with complex number
#Complex Number ? A complex number which can we studied in ou school. its abot real number and imaginary number ,
#which can be denote as i,
#example of complex number - 2+5i, But in pyhton i is denoted with j

In [48]:
a= 3+5j # declaring the variable a and storing the data 3+5i in it

In [49]:
type(a) # checking the data type

complex

In [50]:
#String. What is string - String when we use alphabet in single,double and tripple quotes

In [51]:
a='hi , I am umaima'

In [52]:
a

'hi , I am umaima'

In [53]:
type(a) # datatype

str

In [54]:
str1='moon '
str2=' is shining'
str3=' bright'

In [55]:
print(str1+str2+str3)  # adding str1,str2 and str2

moon  is shining bright

In [56]:
print("saurav"+" is ex"," mining engineer")  #we can add directly without ececuting codes

saurav is ex  mining engineer

In [57]:
#other operation on string

print('  Day' *  5)  #  * use for multiplication

  Day  Day  Day  Day  Day

In [58]:
print(' =' * 100)

 = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

In [59]:
#lets add string + integer

In [60]:
print('Day' + 5)  # here u can see string and integer cannot be added together since it has different datatype

TypeError: can only concatenate str (not "int") to str

In [86]:
print('Day' + str(5))  # for that we have to cinvert int into str datatype

Day5

In [87]:
#what is data structure ? Data structure which can hold,store and save out data
#there are different different typre data structure
#1- List
#2- Tuple
#3- Set
#4- Dictionary

In [88]:
#Lets Start with list
#So, What is list?, List is like a container which can hold our data ., and list is always in square brackets [].
#Accommodate all types of data.
#list are mutable.
#what is mutable ? mutalbe means where we can edit(update,insert,add,count)our data.


#Create empty  list

In [89]:
lst=[]

In [90]:
lst

[]

In [91]:
type(lst)

list

In [92]:
lst=['a','b','c','d'] #creating proper list

In [93]:
lst

['a', 'b', 'c', 'd']

In [94]:
l2=list(lst) # copying the given list into another list

In [95]:
l2

['a', 'b', 'c', 'd']

In [96]:
marks=[30,40,50,60]

In [97]:
copy_marks=marks.copy()  #Differnt way to copy a list is Copy() Method

In [98]:
copy_marks

[30, 40, 50, 60]

In [99]:
#Another way to make list

list('umaima') #this method can separate all the elemnts.

['u', 'm', 'a', 'i', 'm', 'a']

In [100]:
# trying with integer

list(8885) #not possible cause integer object is not iterable

TypeError: 'int' object is not iterable

In [101]:
l1=[] # creating empty list

In [102]:
l1.append('umaima')  # lets try append method to add element in list

In [103]:
l1

['umaima']

In [104]:

l1.append('vicky')  #add one more thing

In [105]:
l1

['umaima', 'vicky']

In [106]:
#add two item
l1.append('yashu')
l1.append('shivangi')

In [107]:
l1

['umaima', 'vicky', 'yashu', 'shivangi']

In [108]:
#index and insert-Two arguments can be paced in insert method
#insert(index,insert) meaning of index is where we have to add objects and  meaning of insert is what object we have to store.
#see with  example
#lets make new list

In [109]:
l1=['saurav','vicky','minakshi','Donald Trump','Imran khan']

In [110]:
l1

['saurav', 'vicky', 'minakshi', 'Donald Trump', 'Imran khan']

In [111]:
#now we inserting a data in the place of imran khan
#lets see how we can add

In [112]:
l1.insert(4,'putin') # 4 is the indx value where we to insert the data and putin is the data we have to insert

In [113]:
l1

['saurav', 'vicky', 'minakshi', 'Donald Trump', 'putin', 'Imran khan']

In [114]:
#one more example with numbers

In [115]:
l1=[11,22,33,44,55,66]

In [116]:
l1.insert(2,88)  # here 2 is the indx value where we to insert the data and 88 is the data we have to insert

In [117]:
l1

[11, 22, 88, 33, 44, 55, 66]

In [118]:
#list Extended Method
#How to check total element in the list.

In [119]:
l1=[44,55,66,99,77,88]

In [120]:
len(l1)  # checking the length of the list

6

In [121]:
#Indexing and Slicing. are always in square brackets[]

In [122]:
l1=['saurav','gaurav','lovely','advit']

In [123]:
l1[0] # it display the data present in the given index

'saurav'

In [124]:
l1[1]

'gaurav'

In [125]:
l1[2]

'lovely'

In [126]:
l1[3]

'advit'

In [127]:
#How to replace object in list
#we have to replace advit by babu

In [128]:
l1[3]='Babu'

In [129]:
l1

['saurav', 'gaurav', 'lovely', 'Babu']

In [130]:
#Replace with Integer
#lets create a list with numbers

In [131]:
l1=[11,22,33,66,44,88,99,44]

In [132]:
l1[3]=1607  #in l1 66 replace with 1607

In [133]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [134]:
#ran index 1 from l1 and exerything from past
#lets see

In [135]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [136]:
l1[1:]  # it will display the the list items from index 1 to the end

[22, 33, 1607, 44, 88, 99, 44]

In [137]:
l1[2:] # it will display the the list items from index 2 to the end

[33, 1607, 44, 88, 99, 44]

In [138]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [139]:
l1[1:7] # it will display the the list items from index 1 to index 6

[22, 33, 1607, 44, 88, 99]

In [140]:
l1[:3]  # display from the start to index 2

[11, 22, 33]

In [141]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44]

In [142]:
l1+[6622]  #we also use "+" sign to concatinate list, just like we did for string

[11, 22, 33, 1607, 44, 88, 99, 44, 6622]

In [143]:
#this concatinate method does not change permanently.
#in case if you want to concatinate permanently you use different method

In [144]:
l1=l1+[5566]

In [145]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44, 5566]

In [146]:
#if you want to duplicate
#you have to use duplicate method

In [147]:
l1

[11, 22, 33, 1607, 44, 88, 99, 44, 5566]

In [148]:
l1 * 4 #like that

[11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566,
 11,
 22,
 33,
 1607,
 44,
 88,
 99,
 44,
 5566]

In [149]:
# if you want to decorate your code
#then you will do someting to decorate
#making a list and decorating it

In [150]:
print('=' * 100)

print(l1)

print('=' * 100)

====================================================================================================
[11, 22, 33, 1607, 44, 88, 99, 44, 5566]
====================================================================================================

In [151]:
#if you double you anything by using * method they dont double for permanent

In [152]:
#Advanced List
#count method
#what is count method ? count methos is which method the csn show how many time availability of duplicate things.
#so lets see how we can you count method.
#create list with the name of marks

In [153]:
marks=[51,56,89,78,89,45,56,12,12,32,45,32,65,45,89,78,45,56,23,12,4,5,23,23,56,]

In [154]:
marks.count(23) # counting the frequency of teh marks 23

3

In [155]:
marks.count(89)  # counting the frequency of teh marks 89

3

In [156]:
#this will show only first element index if there are duplication.

In [157]:
#Extend Method.
#manu time people confused with extend and append method. lets i can show you both method extend and append . and
#what is the the diffrences
#start with append method.

In [158]:
lst=['munmun','lovely']

In [159]:
lst

['munmun', 'lovely']

In [160]:
lst.append(['amisha','khushi'])

In [161]:
lst

['munmun', 'lovely', ['amisha', 'khushi']]

In [162]:
#thats not look like right . it is list under list
#lets check with extend method

In [163]:
lst1=['munmun','lovely']

In [164]:
lst1

['munmun', 'lovely']

In [165]:
lst1.extend(['amisha','khusi'])

In [166]:
lst1

['munmun', 'lovely', 'amisha', 'khusi']

In [167]:
#similarly you can add integer data as well concepts is same for any type data.

In [168]:
#Pop method
#what is pop method ? pop mehod help for delete last index elemnt from any list.

In [169]:
lst1=['Raj','Saurav','Garima','Riya','Gaurav','Ratnesh','Shailesh']

In [170]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh', 'Shailesh']

In [171]:
pop_shailesh=lst1.pop()  # deleting shailesh from the list using popping method

In [172]:
pop_shailesh

'Shailesh'

In [173]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh']

In [174]:
lst1

['Raj', 'Saurav', 'Garima', 'Riya', 'Gaurav', 'Ratnesh']

In [175]:
#we have to delete "Garima" From our list

In [176]:
pop_garima=lst1.pop(2)  #Deleting  based on index positon

In [177]:
pop_garima

'Garima'

In [178]:
lst1

['Raj', 'Saurav', 'Riya', 'Gaurav', 'Ratnesh']

In [179]:
#Remove method
#what is remove method ?  remove method helps for delete element from our list.

In [180]:
lst1=[12,33,66,55,44,77,88,99,11,22,33,44,55,66,77,88]

In [181]:
lst1.remove(55) # it removes the data mentioned in the argument

In [182]:
lst1

[12, 33, 66, 44, 77, 88, 99, 11, 22, 33, 44, 55, 66, 77, 88]

In [183]:
#lets remember one thing remove method only work with integer.
#and they can delete first element if there is any duplication

In [184]:
#Reverse Mehtod.
#what is reverse method ? reverse method helps in to reverse show the all element in list.

In [185]:
lst1=[11,22,33,44,55,66,44,55,66,77,88,99]

In [186]:
lst1.reverse()

In [187]:
lst1

[99, 88, 77, 66, 55, 44, 66, 55, 44, 33, 22, 11]

In [188]:
#Sort Method
#What is sort method ? sort method helps in  to arrange the elements by ascending and descending order.

In [189]:
lst1

[99, 88, 77, 66, 55, 44, 66, 55, 44, 33, 22, 11]

In [190]:
lst1.sort()

In [191]:
lst1

[11, 22, 33, 44, 44, 55, 55, 66, 66, 77, 88, 99]

In [192]:
lst1

[11, 22, 33, 44, 44, 55, 55, 66, 66, 77, 88, 99]

In [193]:
lst1.sort(reverse=True) #sorting in descending order.

In [194]:
lst1

[99, 88, 77, 66, 66, 55, 55, 44, 44, 33, 22, 11]